$primary: #2a2a2a;
$secondary: #eee;
$preview_background: #5b5b5b;
$preview_border: #5b5a5a;

// image preview container variables
$image_preview_posistion_top: 50%;
$image_preview_min_height: 43%;
$image_preview_max_height: 45%;
$image_preview_width: 70.3%; 

