@import '../styles/constants';
@import '../styles/mixins';

.image-preview-container {
  position: absolute;
  top: $image_preview_posistion_top;
  width: $image_preview_width;
  min-height: $image_preview_min_height;
  border: 1px solid $preview_border;
  background-color: $preview_background;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  overflow-y: overlay;
  .wrap {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .image-container {
    position: relative;
    margin: 5px;
    height: 90px;
    width: 150px;
    border-radius: 5px;
    z-index:2;
    overflow: hidden;
    .preview-image {
      display: block;
      max-width:200px ;
      min-width:150px;
      min-height: 100px;
      transform: scale(1.5);
      transition: 0.3s ease-in-out;
    }
    .remove-trash {
      position: absolute;
      font-size: 36px;
      top: 30%;
      left: 39%;
      z-index: 3;
      color: white;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      cursor: pointer;
    }
    &:hover {
      .preview-image{
        filter:brightness(50%);
        filter:blur(1px);
        transform: scale(1);
      }
      .remove-trash {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @include custom-scroll-bar;
}

@include mobile{
  .image-preview-container {
    top: $image_preview_posistion_top;
    width: $image_preview_width;
    min-height: $image_preview_min_height;
    max-height: $image_preview_max_height;
    .wrap{
      justify-content: center;
    }
    
    .image-container{
      margin: 1.2vw;
      height: 25vw;
      width: 41vw;
      .preview-image {
        max-width: 45vw;
        min-width: 41vw;
        min-height: 25vw;
      }
    }
  }
}

@include tablet {
  .image-preview-container {
    top: $image_preview_posistion_top;
    width:$image_preview_width;
    min-height: $image_preview_min_height;
    max-height: $image_preview_max_height;
    .wrap{
      justify-content: center;
    }
    .image-container{
      margin: .6vw;
      height: 25vw;
      width: 41vw;
      .preview-image {
        max-width: 45vw;
        min-width: 41vw;
        min-height: 25vw;
      }
      .remove-trash {
        top:39%;
        left:44%;
        font-size: 48px;
      }

    }
  }
}

@include screen_2k {
 .image-preview-container .image-container {
    margin: 10px;
    height: 200px;
    width: 334px;
    .preview-image {
      max-width:310px;
      min-width:345px;
      min-height: 230px;
    }
    .remove-trash {
      font-size: 48px;
      top: 40%;
      left: 44%;
    }
    &:hover {
      .preview-image{
        filter:brightness(50%);
        filter:blur(5px);
      }
    }
  }
}