@import 'styles/constants';
@import 'styles/mixins';

body {
  margin:0;
}

.app {
  width: 100vw;
  height: 100vh;
  color: #eee;
  background-color: $primary;
  @include flexCenter(column, none);
}
.title {
  position: absolute;
  top: 5%;
  left: 6%;
  font-size: 38px;
  font-weight: 300;
  font-family: 'Teko', sans-serif;
}
.file-count{
  position: absolute;
  font-style: italic;
  font-size: 14px;
  color: #ccc;
  top:$image_preview_posistion_top - 3%;
  right: (102 - $image_preview_width)/2
}

.btn-list {
  position: absolute;
  top:25%;
  display: flex;
  width:30%;
  justify-content: space-evenly;
  .aws-btn {
    width: 150px;
    background-color: $secondary;
    height: 100px;
    border-radius: 6px;
    color: #444;
  }
  .aws-btn:disabled {
    color: #222;
    background-color: #444;
  }
}

@include mobile {
  .title {
    top: 3vh;
    left: (102 - $image_preview_width)/2;
    font-size:25px;    
  }
  .file-count {
    font-size: 13px;
    top: $image_preview_posistion_top - 4%;
    right: (100 - $image_preview_width)/2
  }
  .btn-list {
    width: 100%;
    top:85%;
    justify-content: space-around;
    .aws-btn {
      width: 40vw;
      height: 7vh;
    }
  }
}

@include tablet {
  .title {
    left: (100 - $image_preview_width)/2;
  }
  .file-count {
    font-size: 16px;
    top:$image_preview_posistion_top - 3%;
    right: (102 - $image_preview_width)/2
  }
  .btn-list {
    width: 100%;
    top:85%;
    justify-content: space-around;

    .aws-btn {
      width: 36vw;
      height: 7vh;
    }
  }
}

@include screen_2k {
  .btn-list {
    width:40%;
    .aws-btn {
      width: 250px;
      height: 180px;
    }
  }
}